.menuItems {

}

.menuMeow {
    flex-basis: 20%;
    margin:10px;
    padding:10px;
    text-align: center;
}

.image {
    width: 200px;
    height: 200px;
}

.imageContainer {
    display:inline-block;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.popUp {
    width: 100%;
    margin:auto;
    position: fixed;
    display: none;
}

.popUpInner{
    text-align: center;
    background-color: darkgrey;
}